@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1635;
}

input[type="password"]::-webkit-textfield-decoration-container {
  filter: invert(1);
}


input[type="password"]::-ms-reveal {
  filter: invert(1);
}
